html{
	color: #333;
	font:normal 12px "微软雅黑","Microsoft YaHei",serif;
}
body,p{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	font:normal 12px "微软雅黑","Microsoft YaHei",serif;
	text-decoration: none;
}
/*顶部样式设置*/
.top{
	background-color: #333;
	color: #ededed;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
.top .wrapper{
	line-height: 3em;
}
.top .wrapper::after{
	display: block;
	content: "";
	clear: both;
}
.top .left{
	float: left;
}

.top .right{
	float: right;
}
.top .right>ul::after{
	display: block;
	content: "";
	clear: both;
}
.top .right>ul>li{
	float: left;
}
.top .right ul>li>a{
	padding: 0 1em;
	text-align: center;
	color: #ededed;
	border-right: 1px solid #ededed;
}
/*header样式设置*/
.header .left{
	float: left;
}
.header .right{
	height: 100px;
	margin-left: 420px;
}
.header .search i{
	margin-left: 10px;
}
.header .search input {
	width: 380px;
	border: none;
}

.header .search>ul::after {
	content: "";
	display: block;
	clear: both;
}
.header .search>ul{
	float: left;
}
.header .search >ul> li {
	float: left;
	line-height: 3rem;
	margin-top: 30px;
}
.header .search ul> li:first-child{
	border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	width: 440px;
	border: 1px solid #b4a078;
}
.header .search ul> li:last-child{
	width: 50px;
	font-size: 16px;
	color: #fff;
	background-color:#b4a078;
	text-align: center;
	border: 1.5px solid #b4a078;
	border-bottom-right-radius: 1.5em; 
	border-top-right-radius: 1.5em; 
}
.header .search ul> li:last-child a{
	font-size: 16px;
	color: #fff;
}
.header .buy{
	line-height: 3em;
	width: 200px;
	margin-right: 40px;
	margin-top: 20px;
	float: right;
}
.header .buy>ul>li:hover{
	background-color: #F5F3EF;
	cursor: pointer;
}
.header .buy>ul>li{
	margin-top: 10px;
}
.header .buy li>i{
	float: left;
	margin-left: 15px;
	margin-top: 2px;
}
.header .buy li:after{
	display: block;
	content: "";
	clear: both;
}
.header .buy  li:first-child{
	border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	width: 100px;
	border: 1px solid #b4a078;
}
.header .buy li:last-child{
	width: 100px;
	font-size: 16px;
	color: #b4a078;
	background-color:#ffffff;
	text-align: center;
	border: 1px solid #b4a078;
	border-bottom-right-radius: 1.5em; 
	border-top-right-radius: 1.5em; 
}
/*导航栏样式*/
.nav{
	height: 2em;
}
.nav .wrapper ul{
	width: 100%;
	height: 2em;
	margin: 12px 0;
}
.nav .wrapper ul>li{
	float: left;
}
.nav .wrapper ul>li>a{
	color: #333;
	font-size: 14px;
	padding: 0 1.8em;
	font-weight: bold;
}
.nav .wrapper ul>li>a:hover{
	color: #b4a078;
}
/*宣传图样式*/
.xct{
	width: 100%;
	height: 400px;
	/*position: relative;*/
}

/*左侧导航栏样式*/
/*清除浮动*/
.left_nav{
	float: left;
	left: 0;
	top: 50px;
	position: sticky;
	width: 80px;
}
/*清除浮动*/
/* .left_nav ::after{
	display: block;
	content: "";
	clear: both;
} */
/*左浮动*/
.left_nav ul{
	float: left;
	line-height: 1.5em;
}

.left_nav ul>li:nth-child(1){
	font-size: 16px;
	color: red;
}
.left_nav ul>li>div{
	float: left;
}
.left_nav a:hover{
	color: red;
}


/*品牌制造*/
.ppmade{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.ppmade .wrapper{
	height: 455px;
	background-color: #ffffff;
}
.ppmade .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
/*清除*/
.ppmade .top>ul::after{
	display: block;
	content: "";
	clear: both;
}

.ppmade .top>ul>li:first-child{
	float: left;
	/*padding: 0 1.5em;*/
			
}
.ppmade .top>ul>li:last-child{
	float: right;
	margin-top: 60px;
}

/*清除*/
.ppmade .top>ul>li:first-child::after{
	display: block;
	content: "";
	clear: both;
}
.ppmade .top>ul>li:first-child>p:nth-of-type(1){
	font-size: 24px;
	float: left;
	margin-top: 50px;
}
.ppmade .top>ul>li:first-child>p:nth-of-type(2){
	float: right;
	margin-left: 20px;
	margin-top: 60px;
}
.ppmade .buttom{
	height: 355px;
}

/*清除*/
.ppmade .buttom::after{
	display: block;
	content: "";
	clear: both;
}

.ppmade .buttom li:nth-child(1),
.ppmade .buttom li:nth-child(2){
	float: left;
	margin-left: 10px;
}
.ppmade .buttom li:nth-child(3),
.ppmade .buttom li:nth-child(4){
	width: 380px;
	height: 160px;
	margin-left: 10px;
	float: left;
}
.ppmade .buttom li:nth-child(4){
	margin-top: 20px;
}

/*新品首发样式*/
.xpshow .wrapper{
	height: 450px;
	background-color: #ffffff;
}
.xpshow .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}

/*清除*/
.xpshow .top::after{
	display: block;
	content: "";
	clear: both;
}
/*清除*/
.xpshow .top>ul::after{
	display: block;
	content: "";
	clear: both;
}
.xpshow .top>ul>li:first-child{
	float: left;
	/*padding: 0 1.5em;*/
}
.xpshow .top>ul>li:last-child{
	float: right;
	margin-top: 60px;
}
/*清除*/
.xpshow .top>ul>li::after{
	display: block;
	content: "";
	clear: both;
}
.xpshow .top>ul>li:first-child>p:nth-of-type(1){
	font-size: 24px;
	float: left;
	margin-top: 50px;
}
.xpshow .top>ul>li:first-child>p:nth-of-type(2){
	float: right;
	margin-left: 20px;
	margin-top: 60px;
}
.xpshow .buttom{
	background-color: #ffffff;
	height: 350px;
}
/*清除*/
.xpshow .buttom ul::after{
	display: block;
	content: "";
	clear: both;
}
.xpshow .buttom ul>li{
	width: 287.5px;
	text-align: center;
	float: left;
}
.xpshow .buttom p:first-child{
	margin-left: 100px;
	color: #d42850;
	float: left;
}
.xpshow .buttom p:last-child{
	margin-right: 100px;
	color: #99a6bf;
	text-decoration: line-through;
}

/*人气推荐样式*/
.popular{
	background-color: #f4f0ea;
}
.popular .wrapper{
	height: 630px;
	background-color: #f4f0ea;
}
.popular .top{
	height: 100px;
	background-color: #f4f0ea;
	color: #333;
}
.popular .top>ul>li:first-child{
	float: left;
	/*padding: 0 1.5em;*/
}
.popular .top>ul>li:last-child{
	float: right;
	margin-top: 60px;
}
.popular .top>ul>li:first-child>p:nth-of-type(1){
	float: left;
	font-size: 24px;
	margin-top: 50px;
}
.popular .top>ul>li:first-child>p:nth-of-type(2),.popular .top>ul>li:first-child>p:nth-of-type(3){
	float: left;
	margin-left: 20px;
	margin-top: 60px;
}
.popular .buttom{
	background-color: #ededed;
	height: 530px;
}
/*清除*/
.popular .pic::after{
	display: block;
	content: "";
	clear: both;
}
.popular .pic>li{
	float: left;
}
.popular .pic>li:nth-child(1)>div:first-child{
	width: 400px;
	height: 398px;
	border-bottom: 2px solid #ededed;
	background-color: #ffffff;
}
.popular .pic>li:nth-child(1)>div:last-child{
	width: 400px;
	height: 130px;
	background-color: #ffffff;
	/*margin-left: 10px;*/
}
.popular .pic>li:nth-child(2)>div:first-child{
/*	width: 250px;
	height: 179px;*/
	border-bottom: 1px solid #ededed;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular .pic>li:nth-child(2)>div:last-child{
	width: 250px;
	height: 80px;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular .pic>li:nth-child(3)>div:first-child{
/*	width: 250px;
	height: 179px;*/
	border-bottom: 1px solid #ededed;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular .pic>li:nth-child(3)>div:last-child{
	width: 250px;
	height: 80px;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular .pic>li:nth-child(4)>div:first-child{
	/*width: 250px;
	height: 179px;*/
	border-bottom: 1px solid #ededed;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular .pic>li:nth-child(4)>div:last-child{
	width: 250px;
	height: 80px;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular .pic>li:nth-child(5)>div:first-child{
/*	width: 250px;
	height: 179px;*/
	border-bottom: 1px solid #ededed;
	background-color: #ffffff;
	margin-left: 15px;
	margin-top: 10px;
}
.popular .pic>li:nth-child(5)>div:last-child{
	width: 250px;
	height: 80px;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular .pic>li:nth-child(6)>div:first-child{
/*	width: 250px;
	height: 179px;*/
	border-bottom: 1px solid #ededed;
	background-color: #ffffff;
	margin-left: 15px;
	margin-top: 10px;
}
.popular .pic>li:nth-child(6)>div:last-child{
	width: 250px;
	height: 80px;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular .pic>li:nth-child(7)>div:first-child{
/*	width: 250px;
	height: 179px;*/
	border-bottom: 1px solid #ededed;
	background-color: #ffffff;
	margin-left: 15px;
	margin-top: 10px;
}
.popular .pic>li:nth-child(7)>div:last-child{
	width: 250px;
	height: 80px;
	background-color: #ffffff;
	margin-left: 15px;
}
.popular::after{
	display: block;
	content: "";
	clear: both;
}
.popular .pic ul{
	/*float: left;*/
	text-align: center;
	line-height: 2em;
}
.popular .pic>li:nth-child(1)>div:last-child>ul{
	line-height: 2.5em;
	font-size: 16px;
}
/*福利社*/
.fl{
	background-color:#f4f0ea;
}
.fl .wrapper{
	height: 500px;
	background-color: #f4f0ea;
}
.fl .top{
	height: 100px;
	background-color: #f4f0ea;
	color: #333;
}
.fl .top>ul>li:first-child{
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.fl .top>ul>li:last-child{
	margin-top: 60px;
	float: right;
}
.fl .buttom>ul>li{
	float: left;
}
.fl .buttom>ul>li:nth-child(1){
	border-right: 2px solid #ededed;
}
.fl .buttom>ul>li:nth-child(2){
	/*width: 598px;
	height: 380px;*/
	background-color: #ffffff;
	border-right: 2px solid #ededed;
	/*margin-top: 10px;*/
}
.fl .buttom>ul>li:nth-child(3){
	/*width: 298px;
	height: 380px;*/
	background-color: #ffffff;
	border-right: 2px solid #ededed;
	/*margin-top: 10px;*/
}
/*居家生活*/
.jjlive .wrapper{
	height: 800px;
	/*background-color: #ededed;*/
}
.jjlive .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.jjlive .top>ul>li:first-child{
	/*list-style: none;*/
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.jjlive .top>ul>li:last-child{
	float: right;
}
.jjlive .top>ul>li>ul>li{
	padding: 0 2em;
	margin-top: 60px;
	float: left;
}
.jjlive .buttom{
	height: 700px;
	/*background-color: #ffffff;*/
}
.jjlive .buttom>ul>li:nth-child(1){
	width: 1200px;
	height: 300px;
	/*background-color: #ffffff;*/
	border: 1px solid #ededed;
}
.jjlive .buttom>ul>li:nth-child(2),.jjlive .buttom>ul>li:nth-child(3),.jjlive .buttom>ul>li:nth-child(4),.jjlive .buttom>ul>li:nth-child(5){
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}
.jjlive .buttom div>img{
	width: 292.5px;
	height: 320px;
	background-color: #f4f4f4;
}
.jjlive .buttom div>ul{
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}
/*服饰鞋包*/
.shoes .wrapper{
	height: 800px;
	/*background-color: #ededed;*/
}
.shoes .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.shoes .top>ul>li:first-child{
	/*list-style: none;*/
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.shoes .top>ul>li:last-child{
	float: right;
}
.shoes .top>ul>li>ul>li{
	padding: 0 2em;
	margin-top: 60px;
	float: left;
}
.shoes .buttom{
	height: 700px;
	background-color: #ffffff;
}
.shoes .buttom>ul>li:nth-child(1){
	width: 1200px;
	height: 300px;
	background-color: #ffffff;
	/*border: 1px solid #ededed;*/
}
.shoes .buttom>ul>li:nth-child(2),.shoes .buttom>ul>li:nth-child(3),.shoes .buttom>ul>li:nth-child(4),.shoes .buttom>ul>li:nth-child(5){
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}
.shoes .buttom div>img{
	width: 292.5px;
	height: 320px;
	background-color: #f4f4f4;
}
.shoes .buttom div>ul{
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}
/*美食酒水*/
.food .wrapper{
	height: 800px;
}
.food .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.food .top>ul>li:first-child{
	/*list-style: none;*/
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.food .top>ul>li:last-child{
	float: right;
}
.food .top>ul>li>ul>li{
	padding: 0 2em;
	margin-top: 60px;
	float: left;
}
.food .buttom{
	height: 700px;
	/*background-color: #ffffff;*/
}
.food .buttom>ul>li:nth-child(1){
	width: 1200px;
	height: 300px;
	/*background-color: #ffffff;*/
	/*border: 1px solid #ededed;*/
}
.food .buttom>ul>li:nth-child(2),.food .buttom>ul>li:nth-child(3),.food .buttom>ul>li:nth-child(4),.food .buttom>ul>li:nth-child(5){
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}
.food .buttom div>img{
	width: 292.5px;
	height: 320px;
	background-color: #f4f4f4;
}
.food .buttom div>ul{
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}
/*个护清洁*/
.clear .wrapper{
	height: 800px;
	/*background-color: #ededed;*/
}
.clear .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.clear .top>ul>li:first-child{
	/*list-style: none;*/
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.clear .top>ul>li:last-child{
	float: right;
}
.clear .top>ul>li>ul>li{
	padding: 0 2em;
	margin-top: 60px;
	float: left;
}
.clear .buttom{
	height: 700px;
	/*background-color: #ffffff;*/
}
.clear .buttom>ul>li:nth-child(1){
	width: 1200px;
	height: 300px;
	/*background-color: #ffffff;*/
	/*border: 1px solid #ededed;*/
}
.clear .buttom>ul>li:nth-child(2),.clear .buttom>ul>li:nth-child(3),.clear .buttom>ul>li:nth-child(4),.clear .buttom>ul>li:nth-child(5){
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}
.clear .buttom div>img{
	width: 292.5px;
	height: 320px;
	background-color: #f4f4f4;
}
.clear .buttom div>ul{
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}
/*母婴亲子*/
.baby .wrapper{
	height: 800px;
	/*background-color: #ededed;*/
}
.baby .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.baby .top>ul>li:first-child{
	/*list-style: none;*/
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.baby .top>ul>li:last-child{
	float: right;
}
.baby .top>ul>li>ul>li{
	padding: 0 2em;
	margin-top: 60px;
	float: left;
}
.baby .buttom{
	height: 700px;
	/*background-color: #ffffff;*/
}
.baby .buttom>ul>li:nth-child(1){
	width: 1200px;
	height: 300px;
	/*background-color: #ffffff;*/
	/*border: 1px solid #ededed;*/
}
.baby .buttom>ul>li:nth-child(2),.baby .buttom>ul>li:nth-child(3),.baby .buttom>ul>li:nth-child(4),.baby .buttom>ul>li:nth-child(5){
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}
.baby .buttom div>img{
	width: 292.5px;
	height: 320px;
	background-color: #f4f4f4;
}
.baby .buttom div>ul{
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}
/*运动旅行*/
.sport .wrapper{
	height: 800px;
	/*background-color: #ededed;*/
}
.sport .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.sport .top>ul>li:first-child{
	/*list-style: none;*/
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.sport .top>ul>li:last-child{
	float: right;
}
.sport .top>ul>li>ul>li{
	padding: 0 2em;
	margin-top: 60px;
	float: left;
}
.sport .buttom{
	height: 700px;
	/*background-color: #ffffff;*/
}
.sport .buttom>ul>li:nth-child(1){
	width: 1200px;
	height: 300px;	
}
.sport .buttom>ul>li:nth-child(2),.sport .buttom>ul>li:nth-child(3),.sport .buttom>ul>li:nth-child(4),.sport .buttom>ul>li:nth-child(5){
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}
.sport .buttom div>img{
	width: 292.5px;
	height: 320px;
	background-color: #f4f4f4;
}
.sport .buttom div>ul{
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}
/*数码家电*/
.smjd .wrapper{
	height: 800px;
	/*background-color: #ededed;*/
}
.smjd .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.smjd .top>ul>li:first-child{
	/*list-style: none;*/
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.smjd .top>ul>li:last-child{
	float: right;
}
.smjd .top>ul>li>ul>li{
	padding: 0 2em;
	margin-top: 60px;
	float: left;
}
.smjd .buttom{
	height: 700px;
	/*background-color: #ffffff;*/
}
.smjd .buttom>ul>li:nth-child(1){
	width: 1200px;
	height: 300px;
	/*background-color: #ffffff;*/
	/*border: 1px solid #ededed;*/
}
.smjd .buttom>ul>li:nth-child(2),.smjd .buttom>ul>li:nth-child(3),.smjd .buttom>ul>li:nth-child(4),.smjd .buttom>ul>li:nth-child(5){
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}
.smjd .buttom div>img{
	width: 292.5px;
	height: 320px;
	background-color: #f4f4f4;
}
.smjd .buttom div>ul{
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}
/*全球特色*/
.qqts .wrapper{
	height: 800px;
	/*background-color: #ededed;*/
}
.qqts .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.qqts .top>ul>li:first-child{
	/*list-style: none;*/
	font-size: 24px;
	margin-top: 50px;
	float: left;
}
.qqts .top>ul>li:last-child{
	float: right;
}
.qqts .top>ul>li>ul>li{
	padding: 0 2em;
	margin-top: 60px;
	float: left;
}
.qqts .buttom{
	height: 700px;
	/*background-color: #ffffff;*/
}
.qqts .buttom>ul>li:nth-child(1){
	width: 1200px;
	height: 300px;
}
.qqts .buttom>ul>li:nth-child(2),.qqts .buttom>ul>li:nth-child(3),.qqts .buttom>ul>li:nth-child(4),.qqts .buttom>ul>li:nth-child(5){
	margin-top: 20px;
	margin-left: 5px;
	float: left;
}
.qqts .buttom div>img{
	width: 292.5px;
	height: 320px;
	background-color: #f4f4f4;
}
.qqts .buttom div>ul{
	text-align: center;
	line-height: 1.4em;
	background-color: #ffffff;
}
/*甄选家样式*/
.zxj .wrapper{
	height: 500px;
	background-color: #ededed;
}
.zxj .top{
	height: 100px;
	background-color: #ffffff;
	color: #333;
}
.zxj .top>ul>li{
	float: left;
}
.zxj .top>ul>li:first-child{
	font-size: 24px;
	margin-top: 50px;
}
.zxj .top>ul>li:last-child{
	padding: 0 2em;
	margin-top: 60px;
}
/*.zxj .buttom>ul::after{
	display: block;
	content: "";
	clear: both;
}*/
.zxj .buttom>ul>li{
	float: left;
}
.zxj .buttom>ul>li:nth-child(1){
	/*border: 1px solid #ededed;*/
}
.zxj .buttom>ul>li:nth-child(2){
	margin-left: 10px;
}
.zxj .buttom>ul>li:nth-child(3){
	margin-left: 10px;
	margin-top: 10px;
}
/*大家都在说*/
.people{
	background-color: #f4f0ea;
}
.people .wrapper{
	height: 520px;
	background-color: #f4f0ea;
}
.people .top{
	height: 100px;
	background-color: #f4f0ea;
	color: #333;
}
.people .top>ul>li{
	float: left;
}
.people .top>ul>li:first-child{
	font-size: 24px;
	margin-top: 50px;
}
.people .top>ul>li:last-child{
	padding: 0 2em;
	margin-top: 60px;
}
/*清除浮动*/
.people .buttom ul::after{
	display: block;
	content: "";
	clear: both;
}
.people .buttom>ul>li{
	float: left;
}
.people .buttom ul>li:nth-child(2),
.people .buttom ul>li:nth-child(3){
	margin-left: 10px;
}
.people .buttom div>img{
	width: 390px;
	height: 320px;
}
.people .buttom div>ul{
	height: 100px;
	width: 370px;
	margin-left: 10px;
	background-color: #fff;
	text-align: center;
}
/*相关信息*/
.xgxx .wrapper{
	height: 200px;
	background-color: #ededed;
	margin-top: 50px;
}
.xgxx ul>li{
	width: 390px;
	height: 190px;
	background-color: #ffffff;
	float: left;
	border: 5px solid #ededed;
}
/*底部*/
.footer{
	margin-top: 20px;
	height: 200px;
	background-color: #414141;
}
.footer .top{
	height: 96px;
	/*background-color: #ffffff;*/
	border-bottom: 2px solid #ededed;
}
.footer .buttom{
	height: 96px;
	/*background-color: #ffffff;*/
	border-top: 2px solid #ededed;
}